/* Base Application Styles */

.pull-right {
  float: right !important;
}

#nprogress .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}

#nprogress .bar {
  background: #fff;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}
